<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="urbosenti.application"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="urbosenti.application.MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="urbosenti.application.AboutActivity" ></activity>
        <activity android:name="urbosenti.application.ApplicationEnvironmentActivity" ></activity>
        <activity android:name="urbosenti.application.UsePrivacyTermActivity" ></activity>
        <service android:name="urbosenti.application.SensingApplicationService"></service>
    </application>

</manifest>
